{% extends 'base.html.twig' %}

{% block title %}Liste des matchs{% endblock %}

{% block body %}
<div class="container mx-auto p-4 max-w-4xl">
    <h1 class="text-2xl font-bold mb-6">Liste des matchs</h1>

    {# Boucle sur les rencontres #}
    {% for rencontre in rencontres %}
    <div class="flex items-end mb-6 p-4 bg-gray-100 rounded-lg">
        <div class="mt-4 w-full">
        <h2 class="text-xl font-semibold mb-2">Match #{{ rencontre.id }}</h2>
        <p><strong>Joueur 1</strong> {{ rencontre.joueur1.nom }}</p>
        <p><strong>Joueur 2</strong> {{ rencontre.joueur2.nom }}</p>
        <p><strong>Vainqueur</strong> {{ rencontre.gagnant ? rencontre.gagnant.nom : 'Non déterminé' }}</p>

        </div>
        {% if app.user %}
        <div class="h-auto w-auto">
            <a href="{{ path('rencontre_show', {'id': rencontre.id}) }}" class="bg-blue-600 text-white py-2 px-4 rounded-md text-nowrap hover:bg-blue-700">
                Voirs plus
            </a>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
